.box {
  margin-bottom: 50px;
}

h2 {
  margin: 10px;
}

form {
  margin-top: 20px;
}


form .row {
  margin: 10px 0;
}

.input-group p {
  width: 150px;
}

.btn-dark {
  background-color: #1d1919;
}

.btn {
  font-size: 18px;
}

.error {
  padding: 10px;
  color: red;
  font-size: 18px;
  font-weight: 400;
}
