<table class="table col-12 table-striped shadow">
  <thead>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Age</td>
    <td>Gender</td>
    <td width="10%"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of people">
    <td>{{p.firstName}}</td>
    <td>{{p.lastName}}</td>
    <td>{{p.age}}</td>
    <td>{{p.gender}}</td>
    <td><button (click)="selectPerson($event)" style="width: 100%" type="button" class="btn btn-success" id="{{p.id}}">View</button></td>
  </tr>
  </tbody>
</table>
