<div *ngIf="isFamilyTreeChosen; else chooseTree">


  <h1>{{message}}</h1>
  <div>
    <app-most-predecessors-person></app-most-predecessors-person>
  </div>
  <div class="row justify-content-center mt-4">

    <div class="input-group mb-3 col-11">
      <div class="input-group-prepend ">
        <button (click)="search()"  class="btn btn-outline-secondary" type="button">Search</button>
      </div>
      <input [(ngModel)]="searchPattern"  type="text" class="form-control" placeholder="First name" aria-label="" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="row justify-content-center">

    <table class="table col-11 table-striped shadow">
      <thead>
      <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Age</td>
        <td>Gender</td>
        <td width="10%"></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of people">
        <td>{{p.firstName}}</td>
        <td>{{p.lastName}}</td>
        <td>{{p.age}}</td>
        <td>{{p.gender}}</td>
        <td><button (click)="selectPerson($event)" type="button" class="btn btn-success" id="{{p.id}}">View</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #chooseTree>
  <h1>Choose family tree from "Family trees"</h1>
</ng-template>



