<div class="row justify-content-center box">
  <div class="col-11 border border-white">
    <h2>Add connection</h2>
    <form>
      <div class="input-group">
        <p><label>First name: </label></p>
        <input type="text" class="form-control">
      </div>
      <div class="input-group">
        <p><label>Last name: </label></p>
        <input type="text" class="form-control">
      </div>
      <div class="input-group">
        <p><label>Age: </label></p>
        <input type="text" class="form-control">
      </div>

      <div class="input-group">
        <p><label>Gender: </label></p>
        <select class="form-control form-control-sm">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>

      <div class="row justify-content-center">
        <button type="button" class="btn btn-dark border border-light col-10">Add child</button>
        <button type="button" class="btn btn-dark border border-light col-10">Add parent</button>
        <button type="button" class="btn btn-dark border border-light col-5">Add partner</button>
        <button type="button" class="btn btn-dark border border-light col-5">Add ex-partner</button>
      </div>

    </form>
  </div>
</div>

